/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: rgb(0, 0, 0);
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}

.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}

.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout,
#nav,
#list,
#main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;
}

/* Show the "Menu" button on phones */


/* When "Menu" is clicked, the navbar should be 80% height */









/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}


.email-item-selected {
    background: #eee;

}

/* Email Content Styles */
.email-content-header,
.email-content-body,
.email-content-footer {
    padding: 1em 2em;
}

.email-content-header {
    border-bottom: 1px solid #ddd;
}

.email-content-title {
    margin: 0.5em 0 0;
}

.email-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.email-content-subtitle span {
    color: #999;
}

.email-content-controls {
    margin-top: 2em;
    text-align: right;
}

.email-content-controls .secondary-button {
    margin-bottom: 0.3em;
}

.email-avatar {
    width: 40px;
    height: 40px;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left: 500px;
        /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav,
    #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }

    #nav {
        margin-left: -500px;
        /* "left col (nav + list)" width */
        width: 150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto;
        /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width: 395px;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }

    #animeBtn {
        margin: 0 auto;
        display: block;

    }

    #animeSearchBar {
        background-color: beige;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .searchAnimeTitle {
        text-align: center;
        margin: 0 auto;
        display: block;

    }

    #search_results.cards {
        width: 100%;

    }
}

.card {
    height: 230px;
    width: 150px;
    margin: 10px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    display: block;
}

.card__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card__image {
    height: 190px;
    width: 100%;
}

.card__name {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #343434;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

#layout2 {
    display: flex;
}

#list2 {
    width: 50%;
    width: 395px;
}

#main2 {
    width: calc(100% - 495px);
    padding-left: 50px;
    padding-right: 50px;
}

#selectedCardDisplayArea {
    text-align: center;
}

input[type=text] {
    background: rgba(255,255,255,.05);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-right: transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    outline: 0;
    overflow: visible;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search {
    display: grid;
    grid-template-columns: auto 50px;
    width: 50%;
}

#animeBtn {
    background: rgba(255,255,255,.05);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: transparent;
    box-sizing: border-box;
    cursor: pointer;
    background-color: beige;
    width: 100%;
}
